<a href="https://colab.research.google.com/github/121910101006/probability/blob/main/hashtable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#Function to display hashtable
def display_hash(hashtable):
  for i in range(len(hashtable)):
    print(i,end=" ")
    for j in hashtable[i]:
      print("-->",end=" ")
      print(j,end=" ")
    print()
#Creating Hashtable as
#a nested list
Hashtable=[[]for _ in range(10)]
#Hashing FUnction to return
#keyfor every value
def Hashing(keyvalue):
  return keyvalue %len(Hashtable)
#Insert Function to add
#values to the hash table
def insert(Hashtable,keyvalue,value):
  hash_key=Hashing(keyvalue)
  Hashtable[hash_key].append(value)

#Driver Code
insert(Hashtable, 10,'Allahabad')
insert(Hashtable, 25,'Mumbai')
insert(Hashtable, 20,'Mathura')
insert(Hashtable, 9,'Delhi')
insert(Hashtable, 21,'Punjab')
insert(Hashtable, 21,'Noida')

display_hash(Hashtable)

0 --> Allahabad --> Mathura
1 --> Punjab --> Noida
2
3
4
5 --> Mumbai
6
7
8
9 --> Delhi

In [12]:
#Function to create empty table
def display_hash(Hashtable):
  for i in range (len(Hashtable)):
    print(i,end=" ")
    for j in Hashtable[i]:
      print("-->",end=" ")
      print(j,end =" ")
    print()
Hashtable=[[]for _ in range(10)]
def Hashing(keyvalue):
  return keyvalue %len(Hashtable) 
def insert (Hashtable,keyvalue,value):
  hash_key = Hashing(keyvalue)
  Hashtable[hash_key].append(value)
insert(Hashtable, 10,'Nepal')
insert(Hashtable, 20,'India')
insert(Hashtable, 19,'')
insert(Hashtable, 25,'USA')
insert(Hashtable, 21,'')
insert(Hashtable, 17,'')

display_hash(Hashtable)

0 --> Nepal --> India
1 -->
2
3
4
5 --> USA
6
7 -->
8
9 -->